@media (min-width: 350px) and (max-width: 576px) { 
    .page-all{
        width: 100%;
        position: absolute;
        left: 0;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .page-all{
        width: 100%;
        position: absolute;
        left: 0;
        padding: 0 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .page-all{
        width: 865px;
        position: absolute;
        left: 360px;
    }
}